DB_HOST=localhost
DB_USER=root
DB_PASSWORD=Password@2025
DB_NAME=db_terminal

# local env vars adjust accordingly
# CENTRAL_API_URL=http://smartattendance.fastwebcm.local/api/v1
# CENTRAL_API_URL=http://localhost:8087/api/v1

# prod env stays like this
CENTRAL_API_URL=https://api.smartattendance.fastwebcm.org/api/v1
